<h3>Select an Already Existing Location:</h3>
    <%= f.collection_select :location_id, Location.all, :id, :city %>
    <h3>Create a Location: </h3>
    <%= f.fields_for :location do |l| %>
    <%= render partial: "location/form", locals: { f: l } %>
    <% end %>