<h1> The Fish Page! </h1>
<h3> Fish Location: <%= @fish.species_and_color %></h3>
<%= fish_weight %>
<%= link_to "Edit", edit_fish_path(@fish) %>
<%= link_to "Delete", fish_index_path(@fish), method: 'delete' %>